<%= form_for :task, url: board_task_path, method: :patch, remote: true, html: {role: "form", class: "create-form", name: "form"} do |f| %>
	<%= image_tag "3.png", class: "close-form-img", id: "close-img"%>
	<h2>Edit Task</h2>
	<hr>
	<div class="form-group">
		<%= f.text_area :body, class: "form-control"%>
	</div>
	<button type="submit" class="btn btn-default form-button">Save</button>
<% end %>
