/* line 1, /home/karl/ScrumBoard/app/assets/stylesheets/board.css.sass */
body {
  min-height: 200px;
  padding-top: 70px;
}

/* line 5, /home/karl/ScrumBoard/app/assets/stylesheets/board.css.sass */
.flex-container {
  padding: 30px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
}

/* line 15, /home/karl/ScrumBoard/app/assets/stylesheets/board.css.sass */
.column {
  padding: 5px;
  margin: 5px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #f2f2f2;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}
/* line 22, /home/karl/ScrumBoard/app/assets/stylesheets/board.css.sass */
.column button {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 26, /home/karl/ScrumBoard/app/assets/stylesheets/board.css.sass */
.column h3 {
  text-align: center;
}

/* line 29, /home/karl/ScrumBoard/app/assets/stylesheets/board.css.sass */
.form {
  padding-top: 15px;
}
/* line 31, /home/karl/ScrumBoard/app/assets/stylesheets/board.css.sass */
.form button {
  width: 100%;
  margin-bottom: 5px;
}

/* line 35, /home/karl/ScrumBoard/app/assets/stylesheets/board.css.sass */
.form-container {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  background-color: #dddddd;
  overflow: auto;
}

/* line 46, /home/karl/ScrumBoard/app/assets/stylesheets/board.css.sass */
.popup-form {
  position: absolute;
  left: 54%;
  top: 30%;
  margin-left: -202px;
}

/* line 53, /home/karl/ScrumBoard/app/assets/stylesheets/board.css.sass */
.board-form {
  max-width: 350px;
  min-width: 250px;
  padding: 10px 50px;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: white;
}
/* line 60, /home/karl/ScrumBoard/app/assets/stylesheets/board.css.sass */
.board-form button {
  width: 100%;
  margin-bottom: 15px;
}

/* line 64, /home/karl/ScrumBoard/app/assets/stylesheets/board.css.sass */
.close-form-img {
  position: absolute;
  right: -14px;
  top: -14px;
  cursor: pointer;
}

/* line 70, /home/karl/ScrumBoard/app/assets/stylesheets/board.css.sass */
.task-list {
  list-style-type: none;
  padding: 15px 15px 0 0;
}

/* line 74, /home/karl/ScrumBoard/app/assets/stylesheets/board.css.sass */
.content {
  position: relative;
  width: 490px;
}
/* line 77, /home/karl/ScrumBoard/app/assets/stylesheets/board.css.sass */
.content .edit-delete {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
}
/* line 83, /home/karl/ScrumBoard/app/assets/stylesheets/board.css.sass */
.content .task {
  background-color: white;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* line 92, /home/karl/ScrumBoard/app/assets/stylesheets/board.css.sass */
.square {
  width: 205px;
  height: 205px;
  background: #dddddd;
  text-align: center;
  vertical-align: middle;
}

/* line 101, /home/karl/ScrumBoard/app/assets/stylesheets/board.css.sass */
.link-spanner {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  z-index: 1;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}

/* line 118, /home/karl/ScrumBoard/app/assets/stylesheets/board.css.sass */
.col-md-4 {
  padding-bottom: 35px;
}
