<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
	<div class="inner">
	  <a href="index.html"><h3 class="masthead-brand">ScrumBoard</h3></a>
	  
	  <ul class="nav masthead-nav">
	    <li>
	      <a href="https://github.com/KarlParkinson/ScrumBoard" target="_blank"><h3 class="masthead-brand">Code</h3></a>
	    </li>
	  </ul>
	</div>
      </div>

      <div class="inner cover">
	<h1 class="cover-heading">A Simple, Free Scrum Board.</h1>
	
	<p class="lead">ScrumBoard is a simple, free Ruby on Rails application that allows you to organize any project you wish.</p>

	<p class="lead"><a class="btn btn-lg btn-info" href="#">Get Started</a></p>
      </div>

      <div class="mastfoot">
	<div class="inner">
	  
	  <p><a href="http://rubyonrails.org/" target="_blank"><small>Powered By Rails</small></a></p>
	  
	</div>
      </div>
    </div>
  </div>
</div>
