<!DOCTYPE html>
<html>
  <head>
    <title>ScrumBoard</title>
    <%= stylesheet_link_tag "bootstrap.min.css", "welcome" %>
    <%= javascript_include_tag "bootstrap.min.js" %>
  </head>
  <body>

    <%= yield %>
    
  </body>
</html
